/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {
	box-sizing: border-box;
	overflow: hidden;
}

/* NAV BAR-------------------------------------------------- */

.nav {
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), color-stop(4%, #8d8d8d), color-stop(50%, #6d6d6d), color-stop(50%, #5e5e5e), color-stop(97%, #797979), to(#484848));
	background: linear-gradient(#757575, #8d8d8d 4%, #6d6d6d 50%, #5e5e5e 50%, #797979 97%, #484848 100%);
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
	color: white;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 37px;
	margin: 0 auto;
	position: relative;
	text-shadow: 0 -1.2px black;
	top: 83px;
	width: 980px;
	z-index: 10;
}

#apple {
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0)), color-stop(99%, rgba(135,135,135,0.8)), to(rgba(95,95,95,0.5)));
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0) 99%, rgba(135,135,135,0.8) 99%, rgba(95,95,95,0.5) 100%);
}

#apple img {
	width: 23px;
	-webkit-filter: drop-shadow(0 -0.5px black);
	        filter: drop-shadow(0 -0.5px black);
}

.nav-list {
	display: -webkit-box;
	display: flex;
	height: 100%;
	width: 100%;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.nav-list li {
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	padding-left: 1px;
	padding-right: 1px;
}

.nav-list li:not(.odd-one-out) {
		background: -webkit-gradient(linear, left top, right top, from(rgba(135,135,135,.8)), color-stop(1.1%, rgba(135,135,135,.8)), color-stop(1.1%, rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0)), color-stop(99%, rgba(135,135,135,0.8)), to(rgba(95,95,95,0.5)));
		background: linear-gradient(to right, rgba(135,135,135,.8), rgba(135,135,135,.8) 1.1%, rgba(0,0,0,0) 1.1%, rgba(0,0,0,0) 99%, rgba(135,135,135,0.8) 99%, rgba(95,95,95,0.5) 100%);
}

.nav-list li:not(#search) {
-webkit-box-flex: 1;
				flex: 1;
}

.nav-list li:not(#apple) {
	border-left: 0.5px solid rgba(71,71,71,.74);
}

.nav-list li:not(#search):hover {
	background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,.25)), color-stop(3%, rgba(0,0,0,.3)), color-stop(12%, rgba(0,0,0,.4)));
	background: linear-gradient(to right, rgba(0,0,0,.25), rgba(0,0,0,.3) 3%, rgba(0,0,0,.4) 12%);
}

#search {
	-webkit-box-flex: 1.2;
	        flex: 1.2;
	background: -webkit-gradient(linear, left top, right top, from(rgba(135,135,135,.8)), color-stop(1.1%, rgba(135,135,135,.8)), color-stop(1.1%, rgba(0,0,0,0)), to(rgba(0,0,0,0)));
	background: linear-gradient(to right, rgba(135,135,135,.8), rgba(135,135,135,.8) 1.1%, rgba(0,0,0,0) 1.1%, rgba(0,0,0,0) 100%);
}

#search:focus {
	-webkit-box-flex: 3;
	        flex: 3;
}

#search span {
	color: white;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: relative;
	right: 100px;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}

input {
	background-color: rgba(166,165,166,.2);
	border-bottom: 1px solid #8d8d8d;
	border-left: none;
	border-radius: 10px;
	border-right: none;
	border-top: 2px solid #393939;
	text-shadow: 0 1px 1px black;
	-webkit-transition-property: width, background-color;
	transition-property: width, background-color;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
	width: 105px;
}

input:focus {
	background-color: white;
	outline: none;
	width: 170px;
}

input:focus ~ span {
	color: #585555 !important;
	right: 165px !important;
	text-shadow: none !important;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
}

.search-field {
	padding-left: 20px;
}

/* HERO-------------------------------------------------------- */

a,
img {
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.main-wrapper {
	height: 644px;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 1020px;
	position: relative;
}

.main {
	background-image: url(./images/hero.jpg);
	background-position: center 644px;
	height: 100%;
	left: 10%;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-transform: translateX(-10%);
	        transform: translateX(-10%);
}

.texts {
	margin: 0 auto;
	position: relative;
	top: 160px;
	width: 980px;
}

.title,
.subhead {
	display: block;
	height: 100px;
	width: 100%;
}

.play-wrapper {
	height: 32px;
	overflow: hidden;
	position: relative;
	text-align: center;
	top: 10px;
	width: 980px;
}

#play {
	height: 64px;
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

#play:hover {
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* PROMOS--------------------------------------------------------- */

.promos {
	display: -webkit-box;
	display: flex;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 1020px;
	position: relative;
	-webkit-box-pack: justify;
	        justify-content: space-between;
}

.promo {
	height: 100%;
	margin-top: 3px;
	max-width: 358px;
	min-width: 255px;
	overflow: hidden;
}

.p01,
.p02,
.p03 {
	margin-right: 2px;
}

.promo img {
	height: 100%;
	left: 50%;
	position: relative;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

/* FOOTER----------------------------------------------------- */

footer {
	color: #6e6e6e;
	display: grid;
	grid-template-columns: 1fr 490px 490px 1fr;
	height: 55px;
	margin: 13px auto;
	position: relative;
}

.footer-left {
	display: -webkit-box;
	display: flex;
	grid-column: 2 / 3;
	-webkit-box-align: start;
	        align-items: flex-start;
	justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;

}

.footer-right {
	grid-column: 3 / 4;
	margin-left: 20px;
	margin-top: 4px;
}

p,
.link-list li {
	font-family: sans-serif;
	font-size: 10px;
}

.link-list a {
  color: #08C;
	padding-right: 5px;
}

footer a {
	color: #08C;
}

.link-list a:not(#usa) {
	border-right: 1px solid darkgrey;
}

.link-list {
	display: flex;
	display: -webkit-box;
	text-align: center;
	-webkit-box-pack: justify;
	        					justify-content: space-between;
	-webkit-box-align: center;
				align-items: center;
	width: 100%;
}

#usa img {
	height: auto;
	width: 16px;
}
